{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% crispy form %}
{% block log %}
{% if validlink %}
<div class='row justify-content-center' >
<div class='col-6'>
<div class='card mt-5'>
<div class='card-body'>

<h1>New password</h1>
<form method='POST' action=''>
{% csrf_token %}
   
{{form|crispy}}
{% comment %} <a href='{% url 'signup' %}'> signup</a> {% endcomment %}
<button type="submit" class="btn btn-primary">save</button>

</form>
</div>
</div>
</div>
</div>
{% else %}
<p style="color:red"> this link is not valid</p>
<p> <a href="{% url 'password_reset' %}"> request a new link</a> </p>
 {% endif %}

{% endblock %}