{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form %}


{% block log %}

<div class='row justify-content-center' >
<div class='col-6'>
<div class='card mt-5 mb-5'>
<div class='card-body'>

<h1>Resert password</h1>
<form method='POST' action=''>
{% csrf_token %}
   
{{form|crispy}}
{% comment %} <a href='{% url 'signup' %}'> signup</a> {% endcomment %}
<button type="submit" class="btn btn-primary" >resert password link</button>

</form>
</div>
</div>
</div>
</div>
{% endblock log%}