/* .not-visible{
    display:none;
}
.body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-stretch: extra-expanded;
     color: blue;
}

#not-visible{
    display:none;
} */